<h1>PET DETAIL</h1>


    <h1><strong><%= @petinfo.pet_name %></strong></h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">PET NAME:</h3>
            </div>
            <div class="panel-body">
                <%= @petinfo.pet_name %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_pet_info_path %></button>   
                </div>
            </div>
        
        
            <div class="panel-heading">
                <h3 class="panel-title">PET AGE:</h3>
            </div>
            <div class="panel-body">
                <%= @petinfo.pet_age %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_pet_info_path %></button>
                </div>
            </div>
        
        
            <div class="panel-heading">
                <h3 class="panel-title">PET BREED:</h3>
            </div>
            <div class="panel-body">
                <%= @petinfo.pet_breed %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_pet_info_path %></button>
                </div>
            </div>
        
        
            <div class="panel-heading">
                <h3 class="panel-title">CHIP NUMBER:</h3>
            </div>
            <div class="panel-body">
                <%= @petinfo.chip_number %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_pet_info_path %></button>
                </div>
            </div>
        
        
            <div class="panel-heading">
                <h3 class="panel-title">TAG NUMBER:</h3>
            </div>
            <div class="panel-body">
                <%= @petinfo.tag_number %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_pet_info_path %></button>
                </div>
            </div>
        
        
            <div class="panel-heading">
                <h3 class="panel-title">VET NAME:</h3>
            </div>
            <div class="panel-body">
                <%= @petinfo.vet_name %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_pet_info_path %></button>
                </div>
            </div>
        
        
            <div class="panel-heading">
                <h3 class="panel-title">VET ADDRESS:</h3>
            </div>
            <div class="panel-body">
                <%= @petinfo.vet_address %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_pet_info_path %></button>
                </div>
            </div>
        
        
            <div class="panel-heading">
                <h3 class="panel-title">VET PHONE:</h3>
            </div>
            <div class="panel-body">
                <%= @petinfo.vet_phone %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_pet_info_path %></button>
                </div>
            </div>
        
        
            <div class="panel-heading">
                <h3 class="panel-title">KEY LOCATION:</h3>
            </div>
            <div class="panel-body">
                <%= @petinfo.key_location %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_pet_info_path %></button>
                </div>
            </div>
        
        
            <div class="panel-heading">
                <h3 class="panel-title">FOOD LOCATION:</h3>
            </div>
            <div class="panel-body">
                <%= @petinfo.key_location %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_pet_info_path %></button>
                </div>
            </div>
        
        
            <div class="panel-heading">
                <h3 class="panel-title">FOOD BRAND:</h3>
            </div>
            <div class="panel-body">
                <%= @petinfo.food_brand %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_pet_info_path %></button>
                </div>
            </div>
        
        
            <div class="panel-heading">
                <h3 class="panel-title">FOOD LOCATION:</h3>
            </div>
            <div class="panel-body">
                <%= @petinfo.food_location %>
                 <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_pet_info_path %></button>
                </div>
            </div>
        
        
            <div class="panel-heading">
                <h3 class="panel-title">FEEDING TIME:</h3>
            </div>
            <div class="panel-body">
                <%= @petinfo.feeding_time %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_pet_info_path %></button>
                </div>
            </div>
        
        
            <div class="panel-heading">
                <h3 class="panel-title">SPECIAL FEEDING INSTRUCTIONS:</h3>
            </div>
            <div class="panel-body">
                <%= @petinfo.special_feeding_instruction %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_pet_info_path %></button>
                </div>
            </div>
        
        
            <div class="panel-heading">
                <h3 class="panel-title">WALKING TIMES:</h3>
            </div>
            <div class="panel-body">
                <%= @petinfo.walking_times %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_pet_info_path %></button>
                </div>
            </div>
        
       
            <div class="panel-heading">
                <h3 class="panel-title">WATER INSTRUCTIONS:</h3>
            </div>
            <div class="panel-body">
                <%= @petinfo.water_instructions %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_pet_info_path %></button>
                </div>
            </div>
        
        
            <div class="panel-heading">
                <h3 class="panel-title">MEDICINE LOCATION:</h3>
            </div>
            <div class="panel-body">
                <%= @petinfo.medicine_location %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_pet_info_path %></button>
                </div>
            </div>
        
        
            <div class="panel-heading">
                <h3 class="panel-title">EMERGENCY CONTACT:</h3>
            </div>
            <div class="panel-body">
                <%= @petinfo.emergency_contact_number %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_pet_info_path %></button>
                </div>
            </div>
        
        
            <div class="panel-heading">
                <h3 class="panel-title">SPECIAL INSTRUCTIONS:</h3>
            </div>
            <div class="panel-body">
                <%= @petinfo.special_instructions %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_pet_info_path %></button>
                </div>
            </div>
        
        
            <div class="panel-heading">
                <h3 class="panel-title">WALKING ROUTE:</h3>
            </div>
            <div class="panel-body">
                <%= @petinfo.walking_route_directions %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_pet_info_path %></button>
                </div>
            </div>
        </div>