<div class="container">

    <div class="login">   
        <h1>Sign Up</h1>
        
    <%= form_for @user do |f| %>  

        <div class="required-field-block">
        <%= f.text_field :name, :placeholder => "Name", :class => "form-control" %>
        	<div class="required-icon">
                <div class="text">*</div>
            </div>
		</div>

        <div class="required-field-block">
        <%= f.text_field :email, :placeholder => "Email", :class => "form-control" %>
            <div class="required-icon">

                <div class="text">*</div>
            </div>
        </div>

        <div class="required-field-block">
        <%= f.password_field :password, :placeholder => "Password", :class => "form-control" %>
            <div class="required-icon">
                <div class="text">*</div>
            </div>
        </div>
    
 	<%= f.submit "Sign Up!", :class => "btn btn-primary" %>

        
        
    <% end %>
    </div>
</div>