<h1>CHILD DETAIL</h1>


    <h1><strong><%= @childinfo.child_name %></strong></h1>
        <div class="panel panel-default">
       
            <div class="panel-heading">
                <h3 class="panel-title">CHILD NAME:</h3>
            </div>
            <div class="panel-body">
                <%= @childinfo.child_name %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_child_info_path %></button>   
                </div>
            </div>        
            <div class="panel-heading">
                <h3 class="panel-title">CHILD AGE:</h3>
            </div>
            <div class="panel-body">
                <%= @childinfo.child_age %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_child_info_path %></button>
                </div>
            </div>       
            <div class="panel-heading">
                <h3 class="panel-title">CONTACT ONE:</h3>
            </div>
            <div class="panel-body">
                <%= @childinfo.contact_one %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_child_info_path %></button>
                </div>
            </div>
            <div class="panel-heading">
                <h3 class="panel-title">CONTACT TWO:</h3>
            </div>
            <div class="panel-body">
                <%= @childinfo.contact_two %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_child_info_path %></button>
                </div>
            </div>       
            <div class="panel-heading">
                <h3 class="panel-title">EMERGENCY CONTACT:</h3>
            </div>
            <div class="panel-body">
                <%= @childinfo.emergency_contact %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_child_info_path %></button>
                </div>
            </div>        
            <div class="panel-heading">
                <h3 class="panel-title">FOOD OR DRINK HAZARDS:</h3>
            </div>
            <div class="panel-body">
                <%= @childinfo.food_drink_hazzard %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_child_info_path %></button>
                </div>
            </div>
            <div class="panel-heading">
                <h3 class="panel-title">ESCAPE ROUTES:</h3>
            </div>
            <div class="panel-body">
                <%= @childinfo.escape_routes %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_child_info_path %></button>
                </div>
            </div>
           <div class="panel-heading">
                <h3 class="panel-title">HOME PHONE:</h3>
            </div>
            <div class="panel-body">
                <%= @childinfo.home_phone %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_child_info_path %></button>
                </div>
            </div>        
            <div class="panel-heading">
                <h3 class="panel-title">DOCTOR PHONE:</h3>
            </div>
            <div class="panel-body">
                <%= @childinfo.doctor_phone %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_child_info_path %></button>
                </div>
            </div>
            <div class="panel-heading">
                <h3 class="panel-title">SPECIAL INFORMATION:</h3>
            </div>
            <div class="panel-body">
                <%= @childinfo.special_information %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_child_info_path %></button>
                </div>
            </div>        
            <div class="panel-heading">
                <h3 class="panel-title">NEIGHBOR NAMES:</h3>
            </div>
            <div class="panel-body">
                <%= @childinfo.neighbor_names %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_child_info_path %></button>
                </div>
            </div>       
            <div class="panel-heading">
                <h3 class="panel-title">FIRST AID KIT LOCATION:</h3>
            </div>
            <div class="panel-body">
                <%= @childinfo.firstaidkit_location %>
                 <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_child_info_path %></button>
                </div>
            </div>        
            <div class="panel-heading">
                <h3 class="panel-title">CIRCUIT BREAKER LOCATION:</h3>
            </div>
            <div class="panel-body">
                <%= @childinfo.circuitbreaker_location %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_child_info_path %></button>
                </div>
            </div>       
            <div class="panel-heading">
                <h3 class="panel-title">WATER SHUTOFF LOCATION:</h3>
            </div>
            <div class="panel-body">
                <%= @childinfo.watershutoff_location %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_pet_info_path %></button>
                </div>
            </div>
            <div class="panel-heading">
                <h3 class="panel-title">MEAL TIME:</h3>
            </div>
            <div class="panel-body">
                <%= @childinfo.meal_time %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_child_info_path %></button>
                </div>
            </div>
            <div class="panel-heading">
                <h3 class="panel-title">BED TIME:</h3>
            </div>
            <div class="panel-body">
                <%= @childinfo.bed_time %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_child_info_path %></button>
                </div>
            </div>        
            <div class="panel-heading">
                <h3 class="panel-title">BEDTIME ROUTINE:</h3>
            </div>
            <div class="panel-body">
                <%= @childinfo.bedtime_routine %>
                <div style="float:right" class="btn-group">
                    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_child_info_path %></button>
                </div>
            </div>
        
        

        </div>

    <%= link_to 'edit', edit_child_info_path, class: "button" %>
    <%= link_to 'new', new_child_info_path, class: "button" %>
    <%= link_to 'home', child_infos_path, class: "button" %>
