<h1>NEW</h1>



<%= simple_form_for @petinfo do |f| %>

	<%= f.input :pet_name  %>
	<%= f.input :pet_age, label: 'Pet Age'%>
	<%= f.input :pet_breed, label: 'Pet Breed'%>
	<%= f.input :chip_number, label: 'Chip Number'%>
	<%= f.input :tag_number, label: 'Tag Number'%>
	<%= f.input :vet_name, label: 'Vet Name'%>
	<%= f.input :vet_address, label: 'Vet Address'%>
	<%= f.input :vet_phone, label: 'Vet Phone'%>
	<%= f.input :key_location, label: 'Key Location'%>
	<%= f.input :food_brand, label: 'Food Brand'%>
	<%= f.input :food_location, label: 'Food Location'%>
	<%= f.input :feeding_time, label: 'Feeding Time'%>
	<%= f.input :special_feeding_instruction, label: 'Special Feeding Instructions'%>
	<%= f.input :walking_times, label: 'Walking Time'%>
	<%= f.input :walking_route_directions, label: 'Walking Route Directions'%>
	<%= f.input :water_instructions, label: 'Water Instructions'%>
	<%= f.input :special_instructions, label: 'Special Instructions'%>
	<%= f.input :medicine_location, label: 'Medicine Location'%>
	<%= f.input :emergency_contact_number, label: 'Emergency Contact'%>


	<%= f.button :submit %>

  <% end %>